.email-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .email-email {
    gap: 51px;
    width: 369px;
    height: 812px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(10, 37, 78, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 40px;
    background-color: rgba(211, 214, 217, 1);
  }
  .email-screen {
    top: 0px;
    left: 0px;
    width: 369px;
    height: 812px;
    position: absolute;
  }
  .email-frame-elementsi-phone-x-status-bar {
    top: 0px;
    left: 0px;
    width: 375px;
    height: 66px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .email-time {
    top: 16.16748046875px;
    left: 25.7802734375px;
    width: 40px;
    height: 11px;
    position: absolute;
  }
  .email-battery {
    top: 17px;
    left: 336px;
    width: 24px;
    height: 11px;
    position: absolute;
  }
  .email-reception {
    top: 18px;
    left: 294px;
    width: 16px;
    height: 10px;
    position: absolute;
  }
  .email-wifi {
    top: 17px;
    left: 316px;
    width: 15px;
    height: 11px;
    position: absolute;
  }
  .email-line6 {
    top: 753px;
    left: 1px;
    width: 367px;
    height: 1px;
    position: absolute;
    box-shadow: 0px 4px 9.300000190734863px 0px rgba(0, 0, 0, 0.25) ;
  }
  .email-rectangle37 {
    top: 16px;
    left: 25px;
    width: 42px;
    height: 13px;
    position: absolute;
  }
  .email-text {
    top: 16px;
    left: 24px;
    color: rgba(10, 37, 78, 1);
    width: 42px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: ABeeZee;
    font-weight: 400;
    line-height: 18px;
    font-stretch: normal;
    text-decoration: none;
  }
  .email-i-phone-icons {
    top: 0px;
    left: 0px;
    width: 375px;
    height: 66px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 1);
  }
  .email-time1 {
    top: 16.16748046875px;
    left: 25.7802734375px;
    width: 40px;
    height: 11px;
    position: absolute;
  }
  .email-battery1 {
    top: 17px;
    left: 336px;
    width: 24px;
    height: 11px;
    position: absolute;
  }
  .email-reception1 {
    top: 18px;
    left: 294px;
    width: 16px;
    height: 10px;
    position: absolute;
  }
  .email-wifi1 {
    top: 17px;
    left: 316px;
    width: 15px;
    height: 11px;
    position: absolute;
  }
  .email-frame-elementsi-phone-x-status-bar1 {
    top: 0px;
    left: 0px;
    width: 375px;
    height: 66px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .email-time2 {
    top: 16.16748046875px;
    left: 25.7802734375px;
    width: 40px;
    height: 11px;
    position: absolute;
  }
  .email-battery2 {
    top: 17px;
    left: 336px;
    width: 24px;
    height: 11px;
    position: absolute;
  }
  .email-reception2 {
    top: 18px;
    left: 294px;
    width: 16px;
    height: 10px;
    position: absolute;
  }
  .email-wifi2 {
    top: 17px;
    left: 316px;
    width: 15px;
    height: 11px;
    position: absolute;
  }
  .email-text2 {
    top: 66px;
    left: 157px;
    color: rgba(10, 37, 78, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: center;
    font-family: Yrsa;
    font-weight: 700;
    line-height: 10px;
    font-stretch: normal;
    text-decoration: none;
  }
  .email-text4 {
    top: 123px;
    left: 14px;
    color: rgba(10, 37, 78, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Bold;
    text-align: center;
    font-family: Yrsa;
    font-weight: 700;
    line-height: 10px;
    font-stretch: normal;
    text-decoration: none;
  }
  .email-text6 {
    top: 81px;
    left: 13px;
    color: rgba(10, 37, 78, 1);
    width: 18px;
    height: auto;
    position: absolute;
    font-size: 36px;
    font-style: Medium;
    text-align: left;
    font-family: Yrsa;
    font-weight: 500;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .email-text7 {
    top: 148px;
    left: 21px;
    color: rgba(10, 37, 78, 1);
    width: 149px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Light;
    text-align: left;
    font-family: Yrsa;
    font-weight: 300;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .email-rectangle60 {
    top: 137px;
    left: 14px;
    width: 338px;
    height: 34px;
    position: absolute;
    border-color: rgba(211, 214, 217, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
  }
  .email-bottom-navigation {
    gap: 61px;
    top: 753px;
    left: 1px;
    width: 368px;
    height: 59px;
    display: flex;
    padding: 20px 30px;
    overflow: hidden;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
  }
  .email-frameiconhome {
    width: 35px;
    height: 28.957107543945312px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .email-vector {
    top: 0px;
    left: 0px;
    width: 35px;
    height: 29px;
    position: absolute;
  }
  .email-frameiconlocation {
    width: 22px;
    height: 29px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .email-vector1 {
    top: 0px;
    left: 0px;
    width: 22px;
    height: 29px;
    position: absolute;
  }
  .email-frameiconbookmark {
    width: 24px;
    height: 29px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .email-vector2 {
    top: 0px;
    left: 0px;
    width: 24px;
    height: 29px;
    position: absolute;
  }
  .email-frameiconuser {
    width: 27px;
    height: 29px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .email-vector3 {
    top: 0px;
    left: 0px;
    width: 27px;
    height: 29px;
    position: absolute;
  }
  