.meal2-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .meal2-traditional-chicken-meal-bowl4 {
    gap: 51px;
    width: 369px;
    height: 812px;
    display: flex;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 40px;
    background-color: rgba(211, 214, 217, 1);
  }
  .meal2-screen {
    top: 0px;
    left: 0px;
    width: 369px;
    height: 812px;
    position: absolute;
  }
  .meal2-rectangle33 {
    top: 192px;
    left: 6px;
    width: 355px;
    height: 565px;
    position: absolute;
    border-color: rgba(183, 32, 37, 1);
    border-style: solid;
    border-width: 5px;
    border-radius: 25px;
  }
  .meal2-garb-image {
    top: 84px;
    left: 25px;
    width: 319px;
    height: 67px;
    position: absolute;
    border-radius: 14px;
  }
  .meal2-i-phone-icons {
    top: 0px;
    left: 0px;
    width: 375px;
    height: 66px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(10, 37, 78, 1);
  }
  .meal2-time {
    top: 16.16748046875px;
    left: 25.7802734375px;
    width: 40px;
    height: 11px;
    position: absolute;
  }
  .meal2-battery {
    top: 17px;
    left: 336px;
    width: 24px;
    height: 11px;
    position: absolute;
  }
  .meal2-reception {
    top: 18px;
    left: 294px;
    width: 16px;
    height: 10px;
    position: absolute;
  }
  .meal2-wifi {
    top: 17px;
    left: 316px;
    width: 15px;
    height: 11px;
    position: absolute;
  }
  .meal2-screenshot20240404at12244 {
    top: 15px;
    left: 170px;
    width: 30px;
    height: 25px;
    position: absolute;
  }
  .meal2-text {
    top: 48px;
    left: 136px;
    color: rgba(255, 255, 255, 1);
    width: 97px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: center;
    font-family: Yrsa;
    font-weight: 700;
    line-height: 10px;
    font-stretch: normal;
    text-decoration: none;
  }
  .meal2-text02 {
    top: 209px;
    left: 117px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: Yrsa;
    font-weight: 700;
    line-height: 18px;
    font-stretch: normal;
    text-decoration: none;
  }
  .meal2-text04 {
    top: 171px;
    left: 276px;
    color: rgba(183, 32, 37, 1);
    width: 79px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Bold;
    text-align: left;
    font-family: Yrsa;
    font-weight: 700;
    line-height: 18px;
    font-stretch: normal;
    text-decoration: none;
  }
  .meal2-line3 {
    top: 238px;
    left: 12px;
    width: 343px;
    height: 1px;
    position: absolute;
  }
  .meal2-rectangle35 {
    top: 272px;
    left: 56px;
    width: 24px;
    height: 24px;
    position: absolute;
    box-sizing: content-box;
    border-color: rgba(183, 32, 37, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
  }
  .meal2-image1 {
    top: 273px;
    left: 57px;
    width: 21px;
    height: 21px;
    position: absolute;
  }
  .meal2-group5 {
    top: 306px;
    left: 56px;
    width: 24px;
    height: 228px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .meal2-rectangle37 {
    top: 204px;
    left: 0px;
    width: 24px;
    height: 24px;
    position: absolute;
    box-sizing: content-box;
    border-color: rgba(183, 32, 37, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
  }
  .meal2-rectangle38 {
    top: 170px;
    left: 0px;
    width: 24px;
    height: 24px;
    position: absolute;
    box-sizing: content-box;
    border-color: rgba(183, 32, 37, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
  }
  .meal2-rectangle39 {
    top: 136px;
    left: 0px;
    width: 24px;
    height: 24px;
    position: absolute;
    box-sizing: content-box;
    border-color: rgba(183, 32, 37, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
  }
  .meal2-rectangle40 {
    top: 102px;
    left: 0px;
    width: 24px;
    height: 24px;
    position: absolute;
    box-sizing: content-box;
    border-color: rgba(183, 32, 37, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
  }
  .meal2-rectangle41 {
    top: 68px;
    left: 0px;
    width: 24px;
    height: 24px;
    position: absolute;
    box-sizing: content-box;
    border-color: rgba(183, 32, 37, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
  }
  .meal2-rectangle42 {
    top: 34px;
    left: 0px;
    width: 24px;
    height: 24px;
    position: absolute;
    box-sizing: content-box;
    border-color: rgba(183, 32, 37, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
  }
  .meal2-rectangle43 {
    top: 0px;
    left: 0px;
    width: 24px;
    height: 24px;
    position: absolute;
    box-sizing: content-box;
    border-color: rgba(183, 32, 37, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
  }
 
  .meal2-image2 {
    top: 444px;
    left: 57px;
    width: 21px;
    height: 21px;
    position: absolute;
  }
  .meal2-image3 {
    top: 341px;
    left: 57px;
    width: 21px;
    height: 21px;
    position: absolute;
  }

  .meal2-text06 {
    top: 275px;
    left: 97px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: center;
    font-family: Yrsa;
    font-weight: 700;
    line-height: 18px;
    font-stretch: normal;
    text-decoration: none;
  }
  .meal2-text08 {
    top: 309px;
    left: 97px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: center;
    font-family: Yrsa;
    font-weight: 700;
    line-height: 18px;
    font-stretch: normal;
    text-decoration: none;
  }
  .meal2-text10 {
    top: 309px;
    left: 97px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: center;
    font-family: Yrsa;
    font-weight: 700;
    line-height: 18px;
    font-stretch: normal;
    text-decoration: none;
  }
  .meal2-text12 {
    top: 309px;
    left: 97px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: center;
    font-family: Yrsa;
    font-weight: 700;
    line-height: 18px;
    font-stretch: normal;
    text-decoration: none;
  }
  .meal2-text14 {
    top: 479px;
    left: 98px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: center;
    font-family: Yrsa;
    font-weight: 700;
    line-height: 18px;
    font-stretch: normal;
    text-decoration: none;
  }
  .meal2-text16 {
    top: 513px;
    left: 98px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: center;
    font-family: Yrsa;
    font-weight: 700;
    line-height: 18px;
    font-stretch: normal;
    text-decoration: none;
  }
  .meal2-text18 {
    top: 445px;
    left: 97px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: center;
    font-family: Yrsa;
    font-weight: 700;
    line-height: 18px;
    font-stretch: normal;
    text-decoration: none;
  }
  .meal2-text20 {
    top: 411px;
    left: 97px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: center;
    font-family: Yrsa;
    font-weight: 700;
    line-height: 18px;
    font-stretch: normal;
    text-decoration: none;
  }
  .meal2-text22 {
    top: 377px;
    left: 97px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: center;
    font-family: Yrsa;
    font-weight: 700;
    line-height: 18px;
    font-stretch: normal;
    text-decoration: none;
  }
  .meal2-text24 {
    top: 344px;
    left: 98px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: center;
    font-family: Yrsa;
    font-weight: 700;
    line-height: 18px;
    font-stretch: normal;
    text-decoration: none;
  }
  .meal2-group6 {
    top: 740px;
    left: 168px;
    width: 33px;
    height: 7px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .meal2-ellipse12 {
    top: 0px;
    left: 0px;
    width: 7px;
    height: 7px;
    position: absolute;
  }
  .meal2-ellipse13 {
    top: 0px;
    left: 26px;
    width: 7px;
    height: 7px;
    position: absolute;
  }
  .meal2-ellipse14 {
    top: 0px;
    left: 13px;
    width: 7px;
    height: 7px;
    position: absolute;
    border-color: rgba(244, 244, 244, 1);
    border-style: solid;
    border-width: 0.5px;
  }
  .meal2-text26 {
    top: 226px;
    left: 25px;
    color: rgba(255, 255, 255, 1);
    width: 18px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: left;
    font-family: ABeeZee;
    font-weight: 400;
    line-height: 0px;
    font-stretch: normal;
    text-decoration: none;
  }
  .meal2-text27 {
    transform: scaleX(-1);
    top: 226px;
    left: 326px;
    color: rgba(255, 255, 255, 1);
    width: 18px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: left;
    font-family: ABeeZee;
    font-weight: 400;
    line-height: 0px;
    font-stretch: normal;
    text-decoration: none;
  }
  .meal2-text28 {
    top: 171px;
    left: 25px;
    color: rgba(10, 37, 78, 1);
    width: 184px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: SemiBold;
    text-align: left;
    font-family: Yrsa;
    font-weight: 600;
    line-height: 18px;
    font-stretch: normal;
    text-decoration: none;
  }
  .meal2-rectangle431 {
    top: 15px;
    left: 24px;
    width: 42px;
    height: 13px;
    position: absolute;
  }
  .meal2-text30 {
    top: 15px;
    left: 23px;
    color: rgba(255, 255, 255, 1);
    width: 42px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: center;
    font-family: ABeeZee;
    font-weight: 400;
    line-height: 18px;
    font-stretch: normal;
    text-decoration: none;
  }
  .meal2-bottom-navigation {
    gap: 61px;
    top: 757px;
    left: 2px;
    width: 368px;
    height: 59px;
    display: flex;
    padding: 20px 30px;
    overflow: hidden;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
  }
  .meal2-frameiconhome {
    width: 35px;
    height: 28.957107543945312px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .meal2-vector {
    top: 0px;
    left: 0px;
    width: 35px;
    height: 29px;
    position: absolute;
  }
  .meal2-frameiconlocation {
    width: 22px;
    height: 29px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .meal2-vector1 {
    top: 0px;
    left: 0px;
    width: 22px;
    height: 29px;
    position: absolute;
  }
  .meal2-frameiconbookmark {
    width: 24px;
    height: 29px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .meal2-vector2 {
    top: 0px;
    left: 0px;
    width: 24px;
    height: 29px;
    position: absolute;
  }
  .meal2-frameiconuser {
    width: 27px;
    height: 29px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .meal2-vector3 {
    top: 0px;
    left: 0px;
    width: 27px;
    height: 29px;
    position: absolute;
  }
  